$color-warning: #f6b93b;
$color-danger: #e55039;
$color-success: #78e08f;
@import 'partials/settings';
@import 'partials/typography';
@import 'partials/global';
@import 'partials/elements';

@import 'partials/header';
@import 'partials/cart';

@import 'partials/home';
@import 'partials/product';
@import 'partials/booking';
